@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-style: ;
  line-height: 120%;
}

canvas {
  border-radius: 1rem;
}

ul li:before {
  content: "→";
  margin-right: 0.4em;
}
