@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'TeXGyreHerosCondensed', sans-serif;
  font-weight: bold;
}

<<<<<<< HEAD
=======
body {
  cursor: none;
}


>>>>>>> 2ffc4781b85741830d8b37a2e0514abbbc021e3a
canvas {
  border-radius: 1rem;
}

ul li:before {
  content: "→";
  margin-right: 0.4em;
}

.fade-effect {
  transition: opacity 1s ease;
}

.fade-effect.fade-out {
  opacity: 0;
}

