@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'neue-haas-grotesk-text', sans-serif;
  font-weight: 600;
  cursor: none;
}

body {
  cursor: none;
}


canvas {
  border-radius: 1rem;
}

ul li:before {
  content: "→";
  margin-right: 0.4em;
}

.fade-effect {
  transition: opacity 1s ease;
}

.fade-effect.fade-out {
  opacity: 0;
}



